.menu-container {
  display: flex;
  gap: 12px;
  margin: 8px;
  list-style: none;
}

.menu-container a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.menu-container a:hover {
  font-size: 900;
  color: red;
}